
:root {
  --main-color: #1b9f77;
  --hover-color: #1e8c68;
  --bg-gradient: linear-gradient(135deg, #b5f4d5, #9af6c9); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif sans-serif;
}

body {

  background: var(--bg-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register-container {

  background-color: #ffffff; 
  width: 450px;
  max-width: 90%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  position: relative;
  border: 1px solid rgba(27, 159, 119, 0.2);
}

.register-container form h3 {
  font-size: 2.1rem;
  color: #0e0d0d; 
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.register-container form .box {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  color: #100f0f;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  background: #f9f9f9;
}

.register-container form .box:focus {
  border-color: var(--main-color);
  background: #fff;
  box-shadow: 0 0 5px rgba(27, 159, 119, 0.2);
}

.register-container form .btn {
  display: block;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  background: var(--main-color);
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
}

.register-container form .btn:hover {
  background: var(--hover-color);
  letter-spacing: 1px; 
}

.register-container form p {
  margin-top: 18px;
  font-size: 1.3rem;
  color: #101010;
  text-align: center;
}

.register-container form p a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

.register-container form p a:hover {
  text-decoration: underline;
}


.register-container #form-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  color: #0a0a0a;
  cursor: pointer;
  transition: 0.3s;
}

.register-container #form-close:hover {
  color: #ac2929;
  transform: rotate(90deg);
}